.signup-wrapper
  .single-header
    %h1.single-header__logo
    = link_to root_path 
  .signup-main5
    .signup-main5__head 
      会員登録完了
      %br/
      ありがとうございます。
      %br/
      会員登録が完了しました。
      =link_to "トップページへ戻る", root_path, class: "next-btn5"
