.header {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo{
    width: 185px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: #fff;
  }
}