.sell {
  background: cover;
  background-color: rgb(245, 245,245);
  color: #333;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  &__form{
    width: 700px;
    padding: 40px;
    margin: 0 auto;
    &__container{
      margin: 0 auto;
      background-color: #fff;
    }
    &__head{
      font-size: 22px;
      font-weight: bold;
    }
    &__content {
      height: 355px;
      padding: 0 40px 0 40px;
      border-top: solid 1px #eee;
      .sell__input {
        height: 48px;
        width: 620px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;
        line-height: 1.5;
        font-size: 16px;
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
      }
      .sell__textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
      }
    }
    &__content2 {
      height: 441px;
      padding: 40px 40px 0 40px;
      border-top: solid 1px #eee;
      display: flex;
      justify-content: space-between;
    }
    .sell__select {
      height: 48px;
      width: 400px;
      padding: 0 16px;
      margin-top: 8px;
    }
    h3.sell__sub_head {
      color: #888;
      font-size: 14px;
      font-weight: bold;
    }
    .sell__input_brand {
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background-color: #fff;
      line-height: 1.5;
      font-size: 16px;
      box-sizing: border-box;
    }
    &__content3 {
      height: 441px;
      padding: 40px;
      border-top: solid 1px #eee;
      display: flex;
      justify-content: space-between;
    }

    &__content4 {
      height: 299px;
      padding: 40px;
      border-top: solid 1px #eee;
      border-bottom: solid 1px #eee;
      .sell__yen_mark {
        font-size: 14px;
        float: right;
        background-color: white;
        color: black;
        font-weight: normal;
        line-height: 58px;
      }
      .sell__input_price {
        height: 48px;
        width: 285px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;
        line-height: 1.5;
        font-size: 16px;
        box-sizing: border-box;
      }
    }
    &__price_box {
      height: 58px;
      width: 620px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      &--left{
        width: 620px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      &--right{
        display: flex;
        justify-content: flex-end;
        line-height: 58px;
      }
    }
    
    &__price_box {
      width: 100%;
      float: right;
    }
    
    &__commission_box {
      height: 70px;
      width: 620px;
      padding: 12px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: solid 1px rgb(204, 204, 204);
    }
    
    &__commission {
      font-size: 14px;
    }
    
    &__commission_line {
      background-color: #fff;
    }
    
    &__profit_box {
      height: 83px;
      width: 620px;
      padding: 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: solid 1px rgb(204, 204, 204);
    }
    
    &__profit {
      font-size: 16px;
      font-weight: bold;
    }
    
    &__profit_line {
      background-color: #fff;
      font-weight: bold;
      font-size: 16px;
    }
    
    &__content5 {
      padding: 40px;
    }
    
    &__content_text {
      font-size: 14px;
    }
    
    &__btn {
      height: 50px;
      width: 620px;
      margin-top: 40px;
      background-color: #3ccace;
      color: #fff;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
    &__back_btn {
      height: 50px;
      width: 279px;
      margin: 24px 170.5px 0;
      background-color: #aaa;
      color: #fff;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
  }
  h2 {
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #eee;
  }
  &__upload_box{
    height: 303px;
    padding: 40px;
  }
  &__upload_head{
    font-size: 16px;
    font-weight: bold;
  }
  &__upload_text{
    margin: 8px 0 0;
    line-height: 1.5;
    font-size: 14px;
  }
  &__dropbox_container {
    height: 162px;
    margin: 16px auto 0;
  }
  &__upload_drop_box {
    height: 162px;
    width: 620px;
    padding: 40px 0;
    background-color: #f5f5f5;
    border: 1px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__dropbox_text {
    font-size: 14px;
  }
}


span {
  background-color: #3ccace;
  color: #fff;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 2px;
}
