= stylesheet_link_tag "furima/mypage"
= stylesheet_link_tag "furima/_reset"
= stylesheet_link_tag "furima/application"

-# = render partial: "items/header"#locals: { group: @group }



= render partial: "items/side"