.Header{
  padding: 0 60px;
  &__inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &--main{
      height: 50px; //仮の値
      position: relative;
      display: flex;
      align-items: center;
      a{
        width: 140px;
        display: block;
      }
    }
    &--nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      ul.nav-left{
        position: relative;
        display: flex;
      }
      ul.nav-right{
        margin-left: auto;
        display: flex;
      }
    }
  }
}
