.head-nav{
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  
  ul.head-nav__lists{
    width: 1020px;
    display: flex;
    overflow: visible;
    
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    text-decoration: none;
    li.head-nav__lists__list{
      text-overflow: ellipsis;
      white-space: nowrap;
      a{
        color: #333;
        text-decoration: none;
      }
    }
    li.head-nav__lists__title{
      font-size: inherit;
      line-height: inherit;
      a{
        color: #333;
        text-decoration: none;
      }
    }




  }




}
.mypage{
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
  background-color: #f8f8f8;

  .user_page{
    width:1020px;
    height:calc(100%-144px);
    background-color: #f5f5f5;
    display:flex;
    margin:auto;
    margin-top:40px;
    position: relative;
    .side_bar{
      width:280px;
      height:100%;
      float: left;
      background-color: #f5f5f5;
      margin-right: 40px;
      color:#333;
      ul {
        width:100%;
        height:100%;
        li{
          position: relative;
          width:100%;
          height: 49px;
          background-color:#fff;
          border-bottom: 1px solid #f5f5f5;
        }
          a{
            line-height: 48px;
            width:280px;
            font-size: 14px;
            padding:16px;
            text-decoration: none;
            color:black;
          }
          
            i{
              position: absolute;
              top:0px;
              right:16px;
              line-height: 48px;
            }
      }
        
      .side_bar__merupay_box{
        font-weight: bold;
        margin-top:40px;
        font-size: 16px;
        &__nav_box{
          width:100%;
          height:100%;
  
          li{
            position: relative;
            width:100%;
            height: 49px;
            a{
              line-height: 48px;
              width:280px;
              font-size: 14px;
              padding:16px;
            }
            i{
              color: black;
              position: absolute;
              top:0px;
              right:16px;
              line-height: 48px;
            }
          }
        }
      }
  
    .side_bar__profile_box{
      font-weight: bold;
      margin-top:40px;
      font-size: 16px;
      padding-bottom:40px;
      &__nav_box{
        width:100%;
        height:100%;
        li{
          position: relative;
          width:100%;
          height: 48px;
          a{
            line-height: 48px;
            width:280px;
            font-size: 14px;
            padding:16px;
          }
          i{
            position: fixed;
            top:0px;
            right:16px;
            line-height: 48px;
          }
        }
      }
    }
  }
  // &__side{
  //   width: 280px;
  //   margin-right: 40px;

  //   &__lists{
  //     &list__first{
  //       background: #eee;
  //       font-weight: 600;
  //       min-height: 48px;
  //       position:relative;
        
  //     } 
  //     .Link{
  //       display: block;
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       width: 100%;
  //       height: 100%;
  //     }
  //     .far.fa-angle-right{
  //       color: #333;
  //       float: right;
  //     }
    
      
     

  //     .mypage__side__lists__list{
  //       background: #eee;
  //       font-weight: 600;
  //       border-top: 1px solid #eee;
  //       position: relative;
  //       display: block;
  //       min-height: 48px;
  //       padding: 16px;
  //       font-size: 14px;
  //       color: #333;
        
     
  //     } 
  //     li.mypage__side__lists__list .Link{
  //       display: block;
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       width: 100%;
  //       height: 100%;
  //     }

  //     .mypage__side__lists__list__second{
  //       margin: 40px 0 0;
  //     } 
  //   }
  // }

  &__main{
    
    width: 1020px;
    
    &__icon{
      height: 200px;
      text-align: center;
      justify-content: center;
      align-items: center;
      
      background-color: brown;
      .icon{
        position: relative;
        padding: 20px;
        
        background-repeat: no-repeat;
        background-size: cover;
        
      }
      .name{
        margin: 8px 0 0;
        font-size: 14px;
      }
      .evaluation{
        margin: 8px 0 0;
        font-size: 14px;
      }
    }
    &__contents{
      border: 0;
      background: #eee;
      // font-size: 0;
  
      
      &__content{
        width: 50%;

        &__active{
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;

        }
        &__content{
        position: relative;
        display: block;
        color: #333;
        font-size: 16px;
        line-height: 72px;
        }

      }
      
      
    
    
    
    
    }
   
    ul.menu li .active {
      background: #353d3e;
      color: #fff;
    }
    ul.menu li :not(.active):hover {
      opacity: 0.5;
      transition: .8s;
    }
    ul.contents li {
      list-style: none;
      font-size: 14px;
      padding: 7px 10px;
      line-height: 1.4;
      background: #353d3e;
      color: #fff;
      min-height: 150px;
      display: none;
    }
    ul.contents li.show {
      display: block;
    }

    .mypaga-head{
      margin-top: 40px;
      padding: 0 16px 0 16px;
      width: 668px;
      height: 72px;
      background-color: #ffffff;
      font-size: 16px;
      line-height: 72px;
    }
    .mypaga-log{
      width: 700px;
      display: inline-block;
      background-color: #ffffff;

      &__tab{
        width: 700px;
        height: 74px;

        &__active{
          width: 350px;
          height: 74px;
          border-top: solid 2px #e21d23;
          float: left;
          text-align: center;
          line-height: 74px;
          font-size: 16px;
        }

        &__do{
          width: 350px;
          height: 74px;
          background-color: #e2e2e2;
          float: left;
          text-align: center;
          line-height: 74px;
          font-size: 16px;
        }
      }
      &__content{
        ul{
          display: inline-block;

          li{
            width: 700px;
            height: 80px;
            cursor: pointer;

            &:hover{
              background-color: rgb(248, 248, 248);
            }

            .box{
              width: 668px;
              height: 48px;
              padding: 16px;
              font-size: 14px;

              &__image{
                background-color: #e2e2e2;
                width: 48px;
                height: 43px;
                padding-top: 5px;
                text-align: center;
                float: left;
              }

              &__body{
                width: 560px;
                display: inline-block;
                float: left;

                &__text{
                  width: 560px;
                  height: 21px;
                  margin-left: 20px;
                  color: #262626;
                }

                &__time{
                    display: inline-block;
                    color: #e2e2e2;
                  i{
                    font-size: 16px;
                    margin: 2px 5px 0 20px;
                  }
                }
              }
            }
          }
        }
      }
    }






          // .mypaga-head{
          //   margin-top: 40px;
          //   padding: 0 16px 0 16px;
          //   width: 668px;
          //   height: 72px;
          //   background-color: #ffffff;
          //   font-size: 16px;
          //   line-height: 72px;
          // }
          // .mypaga-log{
          //   width: 700px;
          //   display: inline-block;
          //   background-color: #ffffff;
      
          //   &__tab{
          //     width: 700px;
          //     height: 74px;
      
          //     &__active{
          //       width: 350px;
          //       height: 74px;
          //       border-top: solid 2px #e21d23;
          //       float: left;
          //       text-align: center;
          //       line-height: 74px;
          //       font-size: 16px;
          //     }
      
          //     &__do{
          //       width: 350px;
          //       height: 74px;
          //       background-color: #e2e2e2;
          //       float: left;
          //       text-align: center;
          //       line-height: 74px;
          //       font-size: 16px;
          //     }
          //   }
          //   &__content{
          //     ul{
          //       display: inline-block;
      
          //       li{
          //         width: 700px;
          //         height: 80px;
          //         cursor: pointer;
      
          //         &:hover{
          //           background-color: rgb(248, 248, 248);
          //         }
      
          //         .box{
          //           width: 668px;
          //           height: 48px;
          //           padding: 16px;
          //           font-size: 14px;
      
          //           &__image{
          //             background-color: #e2e2e2;
          //             width: 48px;
          //             height: 43px;
          //             padding-top: 5px;
          //             text-align: center;
          //             float: left;
          //           }
      
          //           &__body{
          //             width: 560px;
          //             display: inline-block;
          //             float: left;
      
          //             &__text{
          //               width: 560px;
          //               height: 21px;
          //               margin-left: 20px;
          //               color: #262626;
          //             }
      
          //             &__time{
          //                 display: inline-block;
          //                 color: #e2e2e2;
          //               i{
          //                 font-size: 16px;
          //                 margin: 2px 5px 0 20px;
          //               }
          //             }
          //           }
          //         }
          //       }
          //     }
           
  }
}
}