

body{
  background: #f5f5f5;
}

.single-main{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  &__head{
  height:97px; 
  
  h2{
  font-weight: bold;
  font-size: 22px;
  padding: 32px;
  text-align: center;
  }
 }

  &__form{
    border-top: 1px solid #f5f5f5;
    padding: 24px 16px 40px;
  }
}

.l-single-content{
  max-width: 343px;
  margin: 0 auto;
  &__group{ 
    margin: 24px 0 0;
  
    label{
      font-weight: 600;
    }
    
    span{
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }

    .span-form-group_birth{
      margin: 0 2px;
      padding: 2px 4px;
      border-radius: 2px;
      color: black;
      font-size: 12px;
      vertical-align: top;
    }

    input{
      width: 100%;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      box-sizing: border-box;
    }
   select{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
   }
   
    p{
     margin:8px 0 0;
     font-size: 14px;
   }

   
   h3{
    font-size: 16px; 
    font-weight: bold;
   }
   
  }
  
  &__btn{
  display: block;
  margin:0 auto;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  text-align: center;
  text-decoration:none;
  background: #ea352d;
  a {
    color: #fff;

  }
 }
}

   
.name-form{

  input{
    width: calc(50% - 6px);
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    box-sizing: border-box
  }
 }

.birthday-form{
  select{
    width: 76px;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
}

.actions{
  margin: 24px 0 0;

.next-btn{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
}

.text-gray{
  color: #888;
  font-size: 14px;
}
